<h1 class="text-3xl text-center p-6 text-blue-700"> <button [routerLink]="'/'">Task Management App using Angular</button></h1>

<h2 class="text-2xl text-center">Edit the Task</h2>

<p class="text-xl text-center text-green-500 p-2">{{taskEditMsg}} </p>

<div class="w-1/2 mx-auto mt-4">
    <form #editTask="ngForm"(ngSubmit)="submit(editTask.value)" class="flex flex-col" >
        <div>
            <div class="flex p-2">
                <label for="title" class="w-1/2 text-lg">Task Title:</label>
                <input type="text" id="title" placeholder="Enter Task Title" ngModel="{{taskData?.title}}" name="title" #title="ngModel" required minlength="3" maxlength="20" class="border text-center w-1/2">
            </div>
            <p class="flex justify-center"> <span *ngIf="title.touched && title.invalid" class="text-red-500">Please enter a Title</span></p>
        </div>


        <div>
            <div class="flex p-2">
                <label for="desc" class="w-1/2 text-lg">Task Details:</label>
                <textarea id="desc" placeholder="Enter Complete Task description" ngModel="{{taskData?.desc}}" name="desc" #desc="ngModel" required minlength="6" class="border text-center w-1/2"> </textarea>
            </div>
            <p class="flex justify-center"> <span *ngIf="desc.touched && desc.invalid" class="text-red-500">Please enter complete task description</span></p>
        </div>

        <div>
            <div class="flex p-2">
                <label for="date" class="w-1/2 text-lg">Due date:</label>
                <input type="date" id="date" ngModel="{{taskData?.date}}" name="date" #date="ngModel" required [min]="minDate" class="border text-center w-1/2">
            </div>
            <p class="flex justify-center"> <span *ngIf="date.touched && date.invalid" class="text-red-500">Please enter a due date</span></p>
        </div>

        <button [disabled]="editTask.invalid" class="w-1/4 mx-auto rounded-full bg-green-300 p-2 mt-2">Submit</button>
    </form>
</div>

